<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить документ</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100" style="background: url(&quot;/img/bg.jpg&quot;) top / cover;">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Добавить документ</h2>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div th:if="${message}" class="alert alert-warning text-center" role="alert">
                        <strong th:text="${message}"></strong>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="block-content">
                <form action="/document/add/" method="post" enctype="multipart/form-data">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Название</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" required name="name"></div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Идентификатор документа</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="number" required name="number"></div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Бизнес-процесс</p>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="businessProcessId">
                                        <option th:each="i : ${businessProcess}" th:value="${i.id}"
                                                th:label="${i.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Тип документа</p>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="documentType">
                                        <option th:each="i : ${documentTypes}" th:value="${i}"
                                                th:label="${i.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Отдел документа</p>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="documentDepartment">
                                        <option th:each="i : ${documentDepartments}" th:value="${i}"
                                                th:label="${i.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Дата</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="date" required name="date"></div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Документ</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="file" name="document" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="row">
                                <div class="col-2">
                                    <p>Описание</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" name="description" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-2">
                            <button class="btn btn-primary" type="submit" style="margin-right: 15px;">Добавить</button>
                            <button class="btn btn-secondary" type="reset">Сбросить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<footer th:insert="blocks/footer :: footer" class="page-footer dark mt-auto"></footer>

<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>